@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Bai Jamjuree', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/*#302E36*/
/*#29272F*/
/*#470FBC*/
/*#FFD166*/
/*#ef476f*/
/*#073B4C*/
/*#211A1D*/

html,body {
    min-height: 100vh;
    background: #302E36;
}
.top-nav {
    height: 6%;
    background: #29272F;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 30px;
    align-items:center;
}
.top-nav-heading {
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 8px;
    display: flex;
    align-items: center;
}
.top-nav-heading i {
    font-size: 35px;
    margin-right: 20px;
}

.top-nav-right a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    font-size: 17px;
}

.link-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    background: #6320EE;
    border-radius: 5px;
    border:none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
    transition: 200ms ease;
}

.link-button i {
    margin-right: 8px;
}
.link-button:hover  {
    background: #4E00F0;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}
.icon-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    background: #6320EE;
    border-radius: 5px;
    border:none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    margin-left: 7px;
    transition: 200ms ease;
}
main {
    height: 94%;
    width: 100%;
    position: absolute;
    top: 6%;

}
.form-main{ 
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-top:5%;
    padding-bottom:5%;
    overflow-x: auto;
}
.form-main h1 { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form-row {
    display: flex;
    width: 100%;
}

.form-row > div {
    margin-right: 50px;
}
table {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x:auto;
}
td,th {
    padding: 10px;
}
.action-td {
    display: flex;
    justify-content: space-evenly;
}
th {
    background: #470FBC; 
    color: white;
}
tr:nth-child(even){background-color: #414044;}
tr:nth-child(odd){background-color: #39383B;}


#map { height: 100%; width:100%; }

@media only screen and (max-width: 768px) {
    .form-main {
        padding: 5%;
        padding-top: 10%;
        display: block;

    }
    .form-row {
        flex-direction: column;
        width: 100%;
    }
    .form-row > div {
        margin: 0;
    }
}
